.output {
	height: 1600px;
	width: 1600px;
}

.invisible {
  visibility: hidden;
}

#wrapper {
 width: 100%;
   margin: auto;
    padding: 10px;
    }


#svgdiv {
    width: 60%;
    float: left;
}

#controls {
    margin-left: 30px;
	
}

/* DivTable.com */
.divTable{
	display: table;
	width: 200px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}